<documents>
{% for file in context_files %}
<document index="{{loop.index}}">
<source>{{file.path}}</source>
<document_content>
{{ file.content }}
</document_content>
</document>
{% endfor %}
</documents>
