{% if visual_selection -%}
QUERY: {{user_query}}

ONLY implement the code fragment that is requested in the following snippet WITHOUT backticks. DO NOT include backticks. The code I want to replace is in the following code block:
```{{current_buffer_filetype}}
{{visual_selection}}
```
{%- else -%}
{{user_query}}
{%- endif %}

{%- if current_buffer_path %}
CONTEXT: {{ current_buffer_path }}
{%- endif %}
{%- if current_buffer_context %}
```{{current_buffer_filetype}}
{{ current_buffer_context }}
```
{%- endif %}
