{% if current_buffer_context or context_files %}
CONTEXT:
{% endif %}
{% if current_buffer_context.path %}
Document:0
Title: {{ current_buffer_context.path }}
{% endif %}
{% if current_buffer_context %}
Content:
```{{ current_buffer_context.filetype }}
{{ current_buffer_context.text }}
```
{% endif %}
{% if context_files %}
  {% for file in context_files %}
Document:{{ loop.index }}
Title: {{ file.path }}
Content:
```
{{ file.content }}
```
  {% endfor %}
{% endif %}
{% if visual_selection %}
Code:
```{{ current_buffer_filetype }}
{{ visual_selection }}
```

  {% if prefill %}
INSTRUCTION: Replace the code in the block given above. ONLY return the valid code fragment surrounded by a code fence with backticks.
  {% else %}
INSTRUCTION: Replace the code in the block given above. ONLY return the code fragment that is requested in the code snippet WITHOUT backticks. DO NOT surround the code fragment in backticks.
  {% endif %}
{% endif %}
QUERY: {{ user_query }}
