{% if visual_selection -%}
QUERY: {{user_query}}

ONLY implement the code fragment that is requested in the following snippet WITHOUT backticks. DO NOT include backticks. The code I want to replace is in the following code block:
```{{current_buffer_filetype}}
{{visual_selection}}
```
{%- else -%}
{{user_query}}
{%- endif %}

CONTEXT:
{%- if current_buffer_path %}

Document:0
Title: {{current_buffer_path}}
{%- endif %}
{%- if current_buffer_context %}
Code:
```{{current_buffer_filetype}}
{{ current_buffer_context }}
```
{%- elif current_buffer_path %}

{{current_buffer_path}}
{%- endif %}

{%- if context_files %}
{% for file_path in context_files %}

Document:{{loop.index}}
Title: {{file_path}}
Text:
```
{% include file_path %}
```
{%- endfor %}
{%- endif %}
