{%- if current_buffer_path -%}
CONTEXT:

Document:0
Title: {{current_buffer_path}}
{%- endif %}
{%- if current_buffer_context %}
Code:
```{{current_buffer_filetype}}
{{ current_buffer_context }}
```
{% endif %}
{% if context_files %}{% for file_path in context_files %}

Document:{{loop.index}}
Title: {{file_path}}
Text:
```
{% include file_path %}
```
{%- endfor %}{% endif %}{% if visual_selection -%}
Code:
```{{current_buffer_filetype}}
{{visual_selection}}
```

QUERY: {{user_query}}
INSTRUCTION: Replace the code in the block given above. ONLY return the code fragment that is requested in the following snippet WITHOUT backticks. DO NOT surround the code fragment in backticks.
{%- else -%}
QUERY: {{user_query}}
{%- endif -%}

