{{user_prompt_args.user_query}}
{%- if user_prompt_args.supporting_context %}

Review the current supporting context:

{{user_prompt_args.supporting_context}}

{% endif %}

CONTEXT:
{% for file_path in user_prompt_args.selected_files -%}
Document:{{loop.index}}
Source:{{file_path}}
Text: {% include file_path %}

{%- endfor -%}
