<SystemMessage>
{{system_prompt}}
</SystemMessage>

<UserMessages>
{% for message in messages -%}
{%- if message.role == 'assistant' %}
<AssistantMessage>
{{message.content}}
</AssistantMessage>
{% else %}
<UserMessage>
{{message.content}}
</UserMessage>
{% endif -%}
{%- endfor %}
</UserMessages>
